In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import time
from datetime import datetime
from Wisard import Wisard

In [2]:
math_science_data = pd.read_csv("matriz_Math_Science.csv", sep=';')
health_sports_data = pd.read_csv("matriz_Health_Sports.csv", sep=';')

train_data = pd.read_csv("train.csv", sep=',')
#test_data = pd.read_csv(test_file_path, sep=',')
resources_data = pd.read_csv("resources.csv", sep=',')

In [3]:
math_science_data.head()

,id,approved,chronolog,outnumb,swap,dilut,dilat,blocki,netbook,kaleidoscop,...,stress,place,same,wide,of,requir,familyth,anticip,pigment,schoolsth
0,p233823,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,p114989,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,p074849,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,p230221,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,p116102,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [4]:
health_sports_data.head()

,id,approved,polar,readingmi,radio,charger,racer,quadrupl,pyp,pvc,...,philosophi,kansa,communityw,tampa,alltim,notion,ca,pillar,daya,lover
0,p185307,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,p013780,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,p103285,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,p081434,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,p139731,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
print(len(math_science_data), len(health_sports_data))
print(len(math_science_data["id"].unique()))

42043 21754
42043

In [6]:
#concatenated = pd.concat([math_science_data[:500], health_sports_data[:500]], ignore_index=True)

In [7]:
#del math_science_data
#del health_sports_data

#concatenated = math_science_data
concatenated = health_sports_data

In [8]:
concatenated.head()

,id,approved,polar,readingmi,radio,charger,racer,quadrupl,pyp,pvc,...,philosophi,kansa,communityw,tampa,alltim,notion,ca,pillar,daya,lover
0,p185307,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,p013780,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,p103285,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,p081434,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,p139731,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
words_list = list(concatenated.columns)
print(len(words_list))
words_list.remove("id")
words_list.remove("approved")
print(len(words_list))

5002
5000

In [10]:
None in concatenated["id"].unique()

False

In [11]:
#If fillna() is needs to be used, be sure to restrict it to all the fields but the "id".
#concatenated = concatenated.fillna(0)

In [12]:
concatenated.head()

,id,approved,polar,readingmi,radio,charger,racer,quadrupl,pyp,pvc,...,philosophi,kansa,communityw,tampa,alltim,notion,ca,pillar,daya,lover
0,p185307,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,p013780,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,p103285,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,p081434,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,p139731,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
def preprocess(training_dataframe, resources_dataframe):
    #print(training_dataframe.shape)
    #print(resources_dataframe.shape)
    
    #
    total_price = resources_dataframe.quantity * resources_dataframe.price
    resources_dataframe["total_price"] = total_price
    
    # dropping irrelevant columns
    resources_dataframe = resources_dataframe.drop(["description", "price"], axis=1)
    training_dataframe = training_dataframe.drop(["teacher_id"], axis=1)
    
    # grouping resources data by id
    grouped_resources_dataframe = resources_dataframe.groupby("id", as_index=False, sort=False).sum()
    grouped_resources_dataframe
    
    # merging the two dataframes
    cleaned_df = pd.merge(training_dataframe, grouped_resources_dataframe, how="inner", on=["id"])
    
    # splitting project categories
    
    cleaned_df[['category_1','category_2']] = cleaned_df['project_subject_categories'].str.replace(", Care & Hunger", "").str.split(', ', 3, expand=True)
    #print(cleaned_df['project_subject_categories'].str.replace(", Care & Hunger", "").str.split(', ', 3, expand=True))
    
    cleaned_df[['subcategory_1','subcategory_2']] = cleaned_df['project_subject_subcategories'].str.replace(", Care & Hunger", "").str.split(', ', 3, expand=True)
    
    #cleaned_df["category_1"] = cleaned_df["category_1"].fillna("Not Informed")
    cleaned_df["category_2"] = cleaned_df["category_2"].fillna("Not Informed")
    cleaned_df["subcategory_2"] = cleaned_df["subcategory_2"].fillna("Not Informed")
    
    cleaned_df["total_price_category"] = pd.cut(
        cleaned_df["total_price"], 
        bins=[0,100,250,500,1000,16000], 
        labels=["0-100","101-250","251-500","501-1000",">1000"]
    )
    
    cleaned_df["n_previous_projects"] = pd.cut(
        cleaned_df["teacher_number_of_previously_posted_projects"],
        bins=[-1,1,5,10,25,50,500],
        labels=['0-1','2-5','6-10','11-25','26-50','51+']
    )
    
    cleaned_df["project_submitted_datetime"] = pd.to_datetime(cleaned_df['project_submitted_datetime'])
    cleaned_df["month_"] = cleaned_df['project_submitted_datetime'].dt.month
    cleaned_df["quarter_"] = cleaned_df['project_submitted_datetime'].dt.quarter
    
    cleaned_df["teacher_prefix"] = cleaned_df["teacher_prefix"].fillna("unknown")
    
    cleaned_df["project_essay_1"] = cleaned_df["project_essay_1"].fillna("")
    cleaned_df["project_essay_2"] = cleaned_df["project_essay_2"].fillna("")
    cleaned_df["project_essay_3"] = cleaned_df["project_essay_3"].fillna("")
    cleaned_df["project_essay_4"] = cleaned_df["project_essay_4"].fillna("")
    
    #cleaned_df["merged_essays"] = cleaned_df['project_title'].astype(str) + " " + cleaned_df['project_essay_1'].astype(str) + " " + cleaned_df['project_essay_2'].astype(str) + " " + cleaned_df['project_essay_3'].astype(str) + " " + cleaned_df['project_essay_4'].astype(str)
    cleaned_df["merged_essays"] = cleaned_df['project_essay_1'].astype(str) + " " + cleaned_df['project_essay_2'].astype(str) + " " + cleaned_df['project_essay_3'].astype(str) + " " + cleaned_df['project_essay_4'].astype(str)
    
    # dropping more columns
    cleaned_df = cleaned_df.drop([
        "project_submitted_datetime", 
        "project_essay_1", 
        "project_essay_2", 
        "project_essay_3", 
        "project_essay_4",
        "quantity",
        "total_price",
        "teacher_number_of_previously_posted_projects"], 
        axis=1
    )
    
    return cleaned_df

In [14]:
training_dataframe = preprocess(train_data, resources_data)
print("Training dataframe shape: ", training_dataframe.shape)
print("Concatenated shape: ", concatenated.shape)

Training dataframe shape:  (182080, 18)
Concatenated shape:  (21754, 5002)

In [15]:
concatenated = pd.merge(training_dataframe, concatenated, how="inner", on=["id"])

print("New shape: ", concatenated.shape)

New shape:  (21754, 5019)

In [16]:
training_set = concatenated.sample(frac=0.7,random_state=3356)
test_set = concatenated.drop(training_set.index)
training_set = training_set.reset_index(drop=True)
test_set = test_set.reset_index(drop=True)

In [17]:
print(len(concatenated))
print(len(training_set))
print(len(test_set))

21754
15228
6526

In [18]:
# I know, wrong name...
def convert_to_bits_string(dataframe, words_list):
    print("Converting dataframe of shape ", dataframe.shape, " to a list of binary values.")
    
    project_grade_category_mapping = { # 4
        'Grades PreK-2':  "1000", 
        'Grades 3-5':     "1100", 
        'Grades 6-8':     "1110", 
        'Grades 9-12':    "1111"
    }

    teacher_prefix_mapping = { # 6
        'Ms.':     "100000", 
        'Mrs.':    "110000", 
        'Mr.':     "111000", 
        'Teacher': "111100", 
        'Dr.':     "111110", 
        'unknown': "111111"
    }

    n_previous_projects_mapping = { # 6
        '0-1':     "100000",
        '2-5':     "110000",
        '6-10':    "111000",
        '11-25':   "111100",
        '26-50':   "111110",
        '51+':     "111111"
    }

    total_price_category_mapping = { # 6
        "0-100":     "100000",
        "101-250":   "110000",
        "251-500":   "111000",
        "501-1000":  "111100",
        ">1000":     "111110"
    }
    
    month_mapping = { # 12
        "1":  "100000000000",
        "2":  "110000000000",
        "3":  "111000000000",
        "4":  "111100000000",
        "5":  "111110000000",
        "6":  "111111000000",
        "7":  "111111100000",
        "8":  "111111110000",
        "9":  "111111111000",
        "10": "111111111100",
        "11": "111111111110",
        "12": "111111111111"
    }
    
    quarter_mapping = { # 4
        "1":"1000",
        "2":"1100",
        "3":"1110",
        "4":"1111"
    }
    
    category_mapping = { # 10
        "Not Informed":          "1000000000",
        "Applied Learning":      "1100000000",
        "Health & Sports":       "1110000000",
        "History & Civics":      "1111000000",
        "Literacy & Language":   "1111100000",
        "Math & Science":        "1111110000",
        "Music & The Arts":      "1111111000",
        "Special Needs":         "1111111100",
        "Warmth":                "1111111110",
        "Care & Hunger":         "1111111110", # Equals to warmth, because they are the same thing
    }
    
    subcategory_mapping = { # 30
        "Not Informed":          "100000000000000000000000000000",
        "Literacy":              "110000000000000000000000000000",
        "Performing Arts":       "111000000000000000000000000000",
        "Applied Sciences":      "111100000000000000000000000000",
        "Health & Wellness":     "111110000000000000000000000000",
        "Character Education":   "111111000000000000000000000000",
        "Early Development":     "111111100000000000000000000000",
        "Mathematics":           "111111110000000000000000000000",
        "Literature & Writing":  "111111111000000000000000000000",
        "Special Needs":         "111111111100000000000000000000", 
        "ESL":                   "111111111110000000000000000000", 
        "Health & Life Science": "111111111111000000000000000000", 
        "College & Career Prep": "111111111111100000000000000000", 
        "Environmental Science": "111111111111110000000000000000", 
        "Other":                 "111111111111111000000000000000", 
        "Music":                 "111111111111111100000000000000", 
        "Visual Arts":           "111111111111111110000000000000", 
        "History & Geography":   "111111111111111111000000000000", 
        "Gym & Fitness":         "111111111111111111100000000000", 
        "Warmth":                "111111111111111111110000000000", 
        "Extracurricular":       "111111111111111111111000000000", 
        "Team Sports":           "111111111111111111111100000000", 
        "Social Sciences":       "111111111111111111111110000000", 
        "Foreign Languages":     "111111111111111111111111000000", 
        "Parent Involvement":    "111111111111111111111111100000", 
        "Nutrition Education":   "111111111111111111111111110000", 
        "Community Service":     "111111111111111111111111111000", 
        "Financial Literacy":    "111111111111111111111111111100", 
        "Civics & Government":   "111111111111111111111111111110", 
        "Economics":             "111111111111111111111111111111", 
        
    }
    
    school_state_mapping = { # 50
        'NV':"10000000000000000000000000000000000000000000000000", 
        'GA':"11000000000000000000000000000000000000000000000000", 
        'UT':"11100000000000000000000000000000000000000000000000", 
        'NC':"11110000000000000000000000000000000000000000000000", 
        'CA':"11111000000000000000000000000000000000000000000000", 
        'DE':"11111100000000000000000000000000000000000000000000", 
        'MO':"11111110000000000000000000000000000000000000000000", 
        'SC':"11111111000000000000000000000000000000000000000000", 
        'IN':"11111111100000000000000000000000000000000000000000", 
        'IL':"11111111110000000000000000000000000000000000000000", 
        'VA':"11111111111000000000000000000000000000000000000000",
        'PA':"11111111111100000000000000000000000000000000000000", 
        'NY':"11111111111110000000000000000000000000000000000000", 
        'FL':"11111111111111000000000000000000000000000000000000", 
        'NJ':"11111111111111100000000000000000000000000000000000", 
        'TX':"11111111111111110000000000000000000000000000000000", 
        'LA':"11111111111111111000000000000000000000000000000000", 
        'ID':"11111111111111111100000000000000000000000000000000", 
        'OH':"11111111111111111110000000000000000000000000000000", 
        'OR':"11111111111111111111000000000000000000000000000000", 
        'MD':"11111111111111111111100000000000000000000000000000", 
        'WA':"11111111111111111111110000000000000000000000000000",
        'MA':"11111111111111111111111000000000000000000000000000", 
        'KY':"11111111111111111111111100000000000000000000000000", 
        'AZ':"11111111111111111111111110000000000000000000000000", 
        'MI':"11111111111111111111111111000000000000000000000000", 
        'CT':"11111111111111111111111111100000000000000000000000", 
        'AR':"11111111111111111111111111110000000000000000000000", 
        'WV':"11111111111111111111111111111000000000000000000000", 
        'NM':"11111111111111111111111111111100000000000000000000", 
        'WI':"11111111111111111111111111111110000000000000000000", 
        'MN':"11111111111111111111111111111111000000000000000000", 
        'OK':"11111111111111111111111111111111100000000000000000",
        'AL':"11111111111111111111111111111111110000000000000000", 
        'TN':"11111111111111111111111111111111111000000000000000", 
        'IA':"11111111111111111111111111111111111100000000000000", 
        'KS':"11111111111111111111111111111111111110000000000000", 
        'CO':"11111111111111111111111111111111111111000000000000", 
        'DC':"11111111111111111111111111111111111111100000000000", 
        'WY':"11111111111111111111111111111111111111110000000000", 
        'NH':"11111111111111111111111111111111111111111000000000", 
        'HI':"11111111111111111111111111111111111111111100000000", 
        'SD':"11111111111111111111111111111111111111111110000000", 
        'MT':"11111111111111111111111111111111111111111111000000",
        'MS':"11111111111111111111111111111111111111111111100000", 
        'RI':"11111111111111111111111111111111111111111111110000", 
        'VT':"11111111111111111111111111111111111111111111111000", 
        'ME':"11111111111111111111111111111111111111111111111100", 
        'NE':"11111111111111111111111111111111111111111111111110", 
        'AK':"11111111111111111111111111111111111111111111111111", 
        'ND':"00000000000000000000000000000000000000000000000000"
    }
    
    combined_input_and_expected_output = []
    input_list = []
    expected_output_list = []
    
    n = 0
    for index, row in dataframe.iterrows():
        #print(row)
        #if n >= 10:
        #    break
        #n = n + 1
        
        # total 128 bits
        bits_string = ""
        bits_string = project_grade_category_mapping[row["project_grade_category"]]
        bits_string = bits_string + teacher_prefix_mapping[row["teacher_prefix"]]
        bits_string = bits_string + n_previous_projects_mapping[row["n_previous_projects"]]
        bits_string = bits_string + total_price_category_mapping[row["total_price_category"]]
        
        bits_string = bits_string + month_mapping[str(row["month_"])]
        bits_string = bits_string + quarter_mapping[str(row["quarter_"])]
        bits_string = bits_string + category_mapping[row["category_1"]]
        bits_string = bits_string + category_mapping[row["category_2"]] # perhaps it is possible to ignore this one
        
        bits_string = bits_string + subcategory_mapping[row["subcategory_1"]]
        bits_string = bits_string + subcategory_mapping[row["subcategory_2"]]
        bits_string = bits_string + school_state_mapping[row["school_state"]]
        
        bit_int_list = [int(c) for c in bits_string]
        expected_output = str(row["project_is_approved"])
        
        #
        words_bits = row[words_list].values.tolist()
        
        #print(words_bits)
        
        bit_int_list.extend(words_bits)
        
        input_list.append(bit_int_list)
        expected_output_list.append(expected_output)
        
        combined_input_and_expected_output.append([bit_int_list, expected_output])
        
    return input_list, expected_output_list, combined_input_and_expected_output

In [19]:
training_patterns, training_data_expected_output, training_data_combined = convert_to_bits_string(training_set, words_list)
test_patterns, test_data_expected_output, test_data_combined = convert_to_bits_string(test_set, words_list)

Converting dataframe of shape  (15228, 5019)  to a list of binary values.
Converting dataframe of shape  (6526, 5019)  to a list of binary values.

In [20]:
print(len(training_patterns))
print(len(training_patterns[0]))

15228
5168

In [21]:
#print(training_set["approved"])

In [22]:
#training_set_expected_values = training_set["approved"]
#training_set = training_set.drop(["approved", "id"], axis=1)
#training_set.head()

In [23]:
#print(training_set_expected_values)

In [24]:
#test_set_expected_values = test_set["approved"]
#test_set = test_set.drop(["approved", "id"], axis=1)
#test_set.head()

In [25]:
#print(list(concatenated.columns))

# This conversion takes a lot of time.
#training_set = training_set[list(training_set.columns)].applymap(np.int64)
#test_set = test_set[list(test_set.columns)].applymap(np.int64)

In [26]:
#training_set

In [27]:
#test_set

In [28]:
"""training_data_combined = []
training_patterns = []
training_data_expected_output = []
for i in range(len(training_set)):
    #print(str(expected_values.loc[[i]].values[0]))
    training_data_combined.append([training_set.loc[[i]].values.tolist()[0], str(training_set_expected_values.loc[[i]].values[0])])
    training_patterns.append(training_set.loc[[i]].values.tolist()[0])
    training_data_expected_output.append(str(training_set_expected_values.loc[[i]].values[0]))

print(len(training_data_combined))
print(len(training_data_combined[0]))
print(len(training_patterns))
print(len(training_patterns[0]))
#training_patterns[0]
#expected_output"""

'training_data_combined = []\ntraining_patterns = []\ntraining_data_expected_output = []\nfor i in range(len(training_set)):\n    #print(str(expected_values.loc[[i]].values[0]))\n    training_data_combined.append([training_set.loc[[i]].values.tolist()[0], str(training_set_expected_values.loc[[i]].values[0])])\n    training_patterns.append(training_set.loc[[i]].values.tolist()[0])\n    training_data_expected_output.append(str(training_set_expected_values.loc[[i]].values[0]))\n\nprint(len(training_data_combined))\nprint(len(training_data_combined[0]))\nprint(len(training_patterns))\nprint(len(training_patterns[0]))\n#training_patterns[0]\n#expected_output'

In [29]:
"""test_data_combined = []
test_patterns = []
test_data_expected_output = []
for i in range(len(test_set)):
    #print(str(expected_values.loc[[i]].values[0]))
    test_data_combined.append([test_set.loc[[i]].values.tolist()[0], str(test_set_expected_values.loc[[i]].values[0])])
    test_patterns.append(test_set.loc[[i]].values.tolist()[0])
    test_data_expected_output.append(str(test_set_expected_values.loc[[i]].values[0]))

print(len(test_data_combined))
print(len(test_data_combined[0]))
print(len(test_patterns))
print(len(test_patterns[0]))"""

'test_data_combined = []\ntest_patterns = []\ntest_data_expected_output = []\nfor i in range(len(test_set)):\n    #print(str(expected_values.loc[[i]].values[0]))\n    test_data_combined.append([test_set.loc[[i]].values.tolist()[0], str(test_set_expected_values.loc[[i]].values[0])])\n    test_patterns.append(test_set.loc[[i]].values.tolist()[0])\n    test_data_expected_output.append(str(test_set_expected_values.loc[[i]].values[0]))\n\nprint(len(test_data_combined))\nprint(len(test_data_combined[0]))\nprint(len(test_patterns))\nprint(len(test_patterns[0]))'

In [30]:
wann = Wisard(2, 3546, False)
wann.train(training_patterns, training_data_expected_output)

Number of classes being trained: 2
dict_keys(['1', '0'])
['0', '1']
Number of training samples for class 0: 2344
Number of training samples for class 1: 12884

In [31]:
#print(wann.discriminators[0].memory)

def evaluate_performance(wann, test_data_combined):
    #print("Number of observations: ", test_data_combined)
    correct_predictions = 0
    wrong_predictions = 0
    zeros_predicted = 0
    ones_predicted = 0
    zeros_correct = 0
    ones_correct = 0
    zeros_wrong = 0
    ones_wrong = 0
    total_ties = 0
    ones_total_ties = 0
    zeros_total_ties = 0
    avg_time = time.time()
    
    for combined in test_data_combined:
        prediction, tie = wann.predict(combined[0])
        prediction = prediction["class"]
        
        if prediction == "0":
            #print("Prediction: ", prediction[0], combined)
            zeros_predicted = zeros_predicted + 1
        elif prediction == "1":
            ones_predicted = ones_predicted + 1
        #print(prediction)
        
        expected = combined[1]
        #print(prediction, expected)
        if prediction == expected:
            #print("Correct!")
            correct_predictions = correct_predictions + 1
            
            if prediction == "0":
                zeros_correct = zeros_correct + 1
            elif prediction == "1":
                ones_correct = ones_correct + 1
        else:
            wrong_predictions = wrong_predictions + 1
            
            if prediction == "0":
                zeros_wrong = zeros_wrong + 1
            elif prediction == "1":
                ones_wrong = ones_wrong + 1
                
        if tie:
            total_ties = total_ties + 1
            if expected == "0":
                zeros_total_ties = zeros_total_ties + 1
            elif expected == "1":
                ones_total_ties = ones_total_ties + 1
                
    avg_time = float(time.time() - avg_time) / float(len(test_data_combined)) 
    
    print("Number of observations: ", len(test_data_combined))
    print("Predicted correctly: ", correct_predictions)
    print("Predicted wrongly: ", wrong_predictions)
    print("Predicted zeros: ", zeros_predicted)
    print("Predicted ones: ", ones_predicted)
    print("Zeros correct: ", zeros_correct)
    print("Ones correct: ", ones_correct)
    print("Zeros wrong: ", zeros_wrong)
    print("Ones Wrong: ", ones_wrong)
    print("Total ties: ", total_ties)
    print("Zeros total ties: ", zeros_total_ties)
    print("Ones total ties: ", ones_total_ties)
    print("Avg. Time: ", avg_time, " seconds.")
    return correct_predictions, [
        len(test_data_combined), correct_predictions, wrong_predictions, zeros_predicted, ones_predicted,
        zeros_correct, ones_correct, zeros_wrong, ones_wrong, total_ties, zeros_total_ties, ones_total_ties,
        avg_time
    ]

#for i in range(len(training_patterns)):
#    print("Result: ", wann.predict(training_patterns[i]), "Expected: ", expected_output[i], "\n")

evaluate_performance(wann, training_data_combined)

Number of observations:  15228
Predicted correctly:  7557
Predicted wrongly:  7671
Predicted zeros:  10015
Predicted ones:  5213
Zeros correct:  2344
Ones correct:  5213
Zeros wrong:  7671
Ones Wrong:  0
Total ties:  9984
Zeros total ties:  2313
Ones total ties:  7671
Avg. Time:  0.021129126573191374  seconds.

(7557,
 [15228,
  7557,
  7671,
  10015,
  5213,
  2344,
  5213,
  7671,
  0,
  9984,
  2313,
  7671,
  0.021129126573191374])

In [32]:
evaluate_performance(wann, test_data_combined)

Number of observations:  6526
Predicted correctly:  2935
Predicted wrongly:  3591
Predicted zeros:  3977
Predicted ones:  2549
Zeros correct:  677
Ones correct:  2258
Zeros wrong:  3300
Ones Wrong:  291
Total ties:  3969
Zeros total ties:  677
Ones total ties:  3292
Avg. Time:  0.021366268770847442  seconds.

(2935,
 [6526,
  2935,
  3591,
  3977,
  2549,
  677,
  2258,
  3300,
  291,
  3969,
  677,
  3292,
  0.021366268770847442])

In [33]:
wann = Wisard(2, 3546, True)
wann.train(training_patterns, training_data_expected_output)

Number of classes being trained: 2
dict_keys(['1', '0'])
['0', '1']
Number of training samples for class 0: 2344
Number of training samples for class 1: 12884

In [34]:
evaluate_performance(wann, training_data_combined)

Number of observations:  15228
Predicted correctly:  12917
Predicted wrongly:  2311
Predicted zeros:  33
Predicted ones:  15195
Zeros correct:  33
Ones correct:  12884
Zeros wrong:  0
Ones Wrong:  2311
Total ties:  0
Zeros total ties:  0
Ones total ties:  0
Avg. Time:  0.06347022881368843  seconds.

(12917,
 [15228,
  12917,
  2311,
  33,
  15195,
  33,
  12884,
  0,
  2311,
  0,
  0,
  0,
  0.06347022881368843])

In [35]:
evaluate_performance(wann, test_data_combined)

Number of observations:  6526
Predicted correctly:  5550
Predicted wrongly:  976
Predicted zeros:  8
Predicted ones:  6518
Zeros correct:  0
Ones correct:  5550
Zeros wrong:  8
Ones Wrong:  968
Total ties:  0
Zeros total ties:  0
Ones total ties:  0
Avg. Time:  0.05563816372470698  seconds.

(5550,
 [6526, 5550, 976, 8, 6518, 0, 5550, 8, 968, 0, 0, 0, 0.05563816372470698])